
h4.activity-subscription-settings-title {
	margin:15px auto;
	border-bottom:1px solid #EAEAEA;
}

#activity-subscription-settings-form {
}

.activity-subscription-settings-checkbox {
	float:left;
}

.activity-subscription-radio-cell {
	text-align: center;
}


.activity-admin-notice-textdiv {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px inset #CCCCCC;
	margin-bottom:10px;
	padding:8px;
}

#ass-admin-notice-textarea, #ass-welcome-email-content {
	height: 250px;
	margin-bottom: 10px;
}

.ass-settings-advanced { display: none; }

.ass-email-type {
	margin-top: 6px;
	color: #333;
	font-size: 14px;
}
.ass-email-type .ass-email-explain {
	margin-left: 19px;
	margin-bottom: 6px;
	color: #777;
	font-size: 12px;
}

.ass-sub-note { margin-top: 10px; font-size: 12px; color: #777; }

.group-subscription-options {
	display: none;
	padding: 4px 6px;
	background-color: #FFFFCC;
	color: #888;
	width: 330px;
	line-height: 26px;
	float: right !important;
	position: absolute;
	margin-left: 30px;
	font-size: 11px;
	z-index: 9999;
}

#groups-dir-list .group-subscription-options,
#groups-list .group-subscription-options {
	position: relative;
	z-index: 9999;
	right: 0;
	text-align: left;
}
#groups-dir-list .group-subscription-div,
#groups-list .group-subscription-div {
	padding-top: 6px;
	font-size: 11px;
}
#groups-dir-list .group-subscription-status-desc,
#groups-list .group-subscription-status-desc {
	display: none;
}

.group-subscription-close {
	float: right;
	display: block;
	line-height: 12px;
	height: 12px;
}

.single-item .group-subscription-div {
	clear: left;
	padding-top: 12px;
}
.single-item .group-subscription-options {
	float: left !important;
}
.gemail_icon{
	background: url(email.png) top left no-repeat !important;
	padding-left: 20px !important;
	margin-left: 2px;
	font-weight: bold;
}

.notifications .group-subscription-div { /* hide ajax buttons when we're on the group notification page. */
	display: none;
}

.group-forum-topic .ass-topic-subscribe  { width: 100%; text-align: right; margin: 10px 0; }

.ass_members_status { font-size:11px; color:#aaa; margin-top:5px; } /* only admins see this */

/* Companion stylesheet override */
#buddypress ul.item-list li div.action div a.group-subscription-options-link {
       display: inline;
       width: auto;
}

/* only admins see this */
.ass_manage_members_links {
	display:block;
	padding-top: 8px;
	font-size:11px;
	color:#888;
}

/* NEW PANEL ********************************************************/

button.ges-change {
    font-size: 1em;
    margin-bottom: 0;
    margin-left: .4em;
}

button.ges-change,
button.ges-change:hover {
    padding: 3px 6px;
}

.ges-ajax-processing {
	background:url(../../buddypress/bp-themes/bp-default/_inc/images/ajax-loader.gif) no-repeat top left;
	display: none;
	height: 16px;
	line-height: 1;
	margin-left: .4em;
	vertical-align: middle;
	width: 16px;
}

.group-subscription-div #js-dialogtooltip {
	border: 2px solid #333;
	border-radius: 4px;
	padding: 1em;
	width: max-content;
	left: 0;
	right: auto;
	display: block;
	z-index: 99999;
}

.ges-panel-right #js-dialogtooltip {
	left: auto !important;
	right: 0 !important;
}

.js-dialogtooltip #tooltip-title {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: .6em;
}

.js-dialogtooltip #tooltip-title:before {
	display: none;
}

.js-dialogtooltip #tooltip-title,
.group-email-tooltip #js-tooltip-content {
	text-align: left;
}

.group-subscription-div #js-tooltip-close {
	float: right;
	font-size: 1em;
	margin-top: 0;
}

#js-dialogtooltip button {
	font-weight: bold;
	line-height: 1;
	margin-left: 4px;
	padding: 3px 6px !important;
}

.group-email-tooltip a {
	display: inline-block;
	margin-bottom: .5em;
	margin-right: .4em;
	width: auto;
}

.group-email-tooltip :focus {
	box-shadow: 0 0 5px rgba(69, 105, 185, 1);
}

.group-subscription-div {
	position: relative;
}

body.bp-nouveau.groups:not(.single-item) .group-subscription-div {
	position: initial;
}

body.bp-nouveau.groups:not(.single-item) .group-subscription-div #js-dialogtooltip {
	left: 0;
	right: 0;
}

@media screen and (max-width: 782px) {
	body.bp-nouveau.groups #item-header-cover-image #item-header-content #js-dialogtooltip {
		left: 0;
		right: 0;
	}
}

@media screen and (min-width: 46.8em) {
	body.bp-nouveau.groups:not(.single-item) .group-subscription-div #js-dialogtooltip {
		left: calc(150px + 5%);
		right: auto;
	}
}

/* fixes for older themes */

body.bp-legacy #item-header-content .ges-panel {
	position: absolute;
}

#bp-default #item-header-content .ges-panel,
#infinity-base #item-header-content .ges-panel {
	position: initial;
}

#bp-default #item-header-content .ges-panel #js-dialogtooltip {
	left: 190px;
}

#infinity-base #item-header-content .ges-panel #js-dialogtooltip {
	left: 30px;
}

body.bp-legacy:not(#bp-default):not(#infinity-base) #groups-list .ges-panel #js-dialogtooltip {
	position: relative;
}

body.bp-legacy #buddypress div.action .ges-panel #js-dialogtooltip div {
	clear: none;
	float: none;
	margin-bottom: 0;
}

body.bp-legacy #buddypress div.action .ges-panel #js-dialogtooltip a {
	display: inline-block;
	width: auto;
}
